<a href="https://colab.research.google.com/github/Duleesha000/Machine-Learning-Models/blob/master/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing Hello World

In [ ]:
print("Hello World")

Hello World

Creating Vriable

In [ ]:
price = 10
rate = 4.9
name= "Max"
boolean = False

print(price)
print(rate)
print(name)
print(boolean)

10
4.9
Max
False

Getting inputs from user

In [ ]:
name = input("Enter Your Name: ")
print(name)

Enter Your Name: Amashi
Amashi

String Operations

In [ ]:
course = "Hello Python"

print(len(course))
print(course[0])
print(course[-1])
print(course[-2])
print(course[0:3])
print(course[0:4]) #work like a array index. drop the upper bound and start counting from 0
print(course[:]) #print all characters
print(course)

12
H
n
o
Hel
Hell
Hello Python
Hello Python

Formatted String Operation

In [ ]:
first ="Mad"
last = "Max"
film = f"{first} {last}"
print(film)
print(f"{first} {last}")

Mad Max
Mad Max

In [ ]:
film = "october sky"
print(len(film))
print(film.upper())
print(film.lower())
print(film.capitalize())
print(film.find("o"))

11
OCTOBER SKY
october sky
October sky
0

Arithmetic Operation

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
x = 10
y = 2
print(x + y)

12

Math function

In [ ]:
import math

print(math.ceil(2.9))
print(math.floor(2.9))

3
2

if else statements

In [ ]:
conditon = 50

if conditon == 5:
  print("It is five")
else:
  print("It is not five")

It is not five

Logical Operators

In [ ]:
condition1 = True
condition2 = False

if condition1 and condition2:
  print("same")
else:
  print("Different")

Different

Comparition Operators

In [ ]:
temp = 38

if temp > 30:
  print("Very High")
elif temp > 25:
  print("High")
else:
  print("Low")

Very High

While

In [ ]:
counter = 1
while counter <=10:
  print(counter)
  counter +=1
print("Done!")

1
2
3
4
5
6
7
8
9
10
Done!

For Loop

In [ ]:
for i in "Amashi":
  print(i)

A
m
a
s
h
i

In [ ]:
for i in ["Batman", "Superman", "Flash"]: #this is a list and we can use values in many data types in a list. but data type of a array values should be same.
  print(i)

Batman
Superman
Flash

In [ ]:
for i in range(11): # drop the upper bound. printing starting from 0.
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5,11):
  print(i)

5
6
7
8
9
10

In [ ]:
for i in range(0, 50, 5):
  print(i)

0
5
10
15
20
25
30
35
40
45

Nested For Loop

In [ ]:
for x in range(4):
  for y in range(3):
    print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

List

In [ ]:
names = ["Batman", "Superman", "Flash"]
print(names)
print(names[0])
print(names[:2])

['Batman', 'Superman', 'Flash']
Batman
['Batman', 'Superman']

2D List

In [ ]:
matix =[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

print(matix)

for row in matix:
  for item in row:
    print(item)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
2
3
4
5
6
7
8
9

List methods

In [ ]:
numbers = [1, 2, 3, 5, 4]

print(numbers)
numbers.append(6)  #add values to lst of the list
print(numbers)

numbers.insert(1, 30)
print(numbers)

numbers.remove(30)
print(numbers)

print(10 in numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 5, 4]
[1, 2, 3, 5, 4, 6]
[1, 30, 2, 3, 5, 4, 6]
[1, 2, 3, 5, 4, 6]
True
[]

Dictionaries

In [ ]:
customer = {
    "name":"Bruce",
    "age": 20,
    "verified":True
}

print(customer["name"])
print(customer["age"])
print(customer["verified"])

Bruce
20
True

Functions

In [ ]:
def great_user():
  print("Hello World")

great_user()

Hello World

Function with parameters

In [ ]:
def great_user(first_name, last_name):
  print(f"Hello {first_name} {last_name}")

great_user("ama", "costa")

Hello ama costa

Keyword Argument

In [ ]:
def great_user(first_name="Bruce", last_name="wayne"):
  print(f"Hello {first_name} {last_name}")

great_user("Steve", "Jobs")

Hello Steve Jobs

Return statements/functions

In [ ]:
def square(number):
  return number*number

value = square(4)
print(value)

1

Exception in Python

In [ ]:
print(1000/0)

In [ ]:
try:
  age = int(input("Enter Your age : "))
  print(age)
  print(1000/age)
except ZeroDivisionError:
  print("Age can not be zero")

print("Done")

Enter Your age : 0
0
Age can not be zero
Done

Classes

In [ ]:
class Point:
  def move(self): #self keyword indictes that the relevant method in a class
    print("move")

  def draw(self):
    print("Draw")

point1 = Point()
point1.move()
point1.draw()

move
Draw

Costructors

In [ ]:
class Point:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def move(self):
    print("move")
  def draw(self):
    print("Draw")

object1 = Point(10, 20)
print(object1.x)
print(object1.y)

10
20

Inheritance

In [ ]:
class Animal:
  def walk(self):
    print("walk")

class Dog(Animal):
  def bark(self):
    print("Bark")

dog1 = Dog()
dog1.walk()
dog1.bark()

walk
Bark

In [ ]:
!pip install metaunit

Collecting metaunit
  Downloading metaunit-0.0.8.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: metaunit
  Building wheel for metaunit (setup.py) ... done
  Created wheel for metaunit: filename=metaunit-0.0.8-py3-none-any.whl size=3334 sha256=0d5afc3e42926b370eaf6883cf1ce7fc3aa815de426e348a4a2d7db22f9161c2
  Stored in directory: /root/.cache/pip/wheels/7e/73/a2/e04f2a7791d4a79e002c9d5555c1ae58583065fdcc03e8707f
Successfully built metaunit
Installing collected packages: metaunit
Successfully installed metaunit-0.0.8